<?xml version="1.0"?>
<launch>
    <include file="$(find gobot_data)/launch/robot_audio_params.launch"/>
    
    <!--COMMON PARAMETERS -->
    <param name="simulation"        type="bool"       value="false" />
    <param name="status_update"     type="double"     value="8.0" />
    <param name="ip_update"         type="double"     value="30.0" />
    <!--FUNCTION RELATED-->
    <param name="resume_work_level" type="int"        value="90" />
    <!-- MAP RELATED -->
		<param name="map_image_used"    type="string"     value="$(find gobot_data)/maps/used_map.pgm" />
    <param name="map_config_used"   type="string"     value="$(find gobot_data)/maps/used_map.yaml" />
    <param name="map_id_file"       type="string"     value="$(find gobot_data)/maps/mapId.txt" />
    <!--COMMAND RELATED -->
    <param name="restart_file"      type="string"     value="$(find gobot_data)/command/restart_robot.sh" />
    <param name="shutdown_file"     type="string"     value="$(find gobot_data)/command/shutdown.sh" />
    <!--ROBOT DATA RELATED-->
    <param name="last_pose_file"    type="string"     value="$(find gobot_data)/data/lastKnownPosition.txt" />
    <param name="path_file"         type="string"     value="$(find gobot_data)/data/path.txt" />
    <param name="disconnected_file" type="string"     value="$(find gobot_data)/data/disconnected.txt" />
    <param name="path_stage_file"   type="string"     value="$(find gobot_data)/data/path_stage.txt" />
    <param name="path_loop_file"    type="string"     value="$(find gobot_data)/data/loop.txt" />
    <param name="volume_file"       type="string"     value="$(find gobot_data)/data/volume.txt" />
    <param name="home_file"         type="string"     value="$(find gobot_data)/data/home.txt" />
    <param name="robot_name_file"   type="string"     value="$(find gobot_data)/data/name.txt" />
    <param name="low_battery_file"  type="string"     value="$(find gobot_data)/data/low_battery.txt" />
    <param name="battery_log"       type="string"     value="$(find gobot_data)/data/record_battery.txt" />
    <param name="speed_file"        type="string"     value="$(find gobot_data)/data/speed.txt" />
    <param name="audio_folder"      type="string"     value="$(find gobot_data)/data/audio/" />
    <!--WIFI RELATED -->
    <param name="wifi_file"         type="string"     value="$(find gobot_data)/data/wifi.txt" />
    <param name="ping_file"         type="string"     value="$(find gobot_data)/IP/ping.sh" />
    <param name="deleteWIFI"        type="string"     value="$(find gobot_data)/IP/deleteWIFI.sh" />
    <param name="ips_file"          type="string"     value="$(find gobot_data)/IP/isAlive.txt" />
</launch>
