<?xml version="1.0"?>
<launch>
    <node pkg="gobot_control" type="ir_controller" name ="ir_controller" output="screen" required="true"/>
    <node pkg="gobot_control" type="bumper_controller" name ="bumper_controller" output="screen" required="true"/>
    <node pkg="gobot_control" type="proximity_controller" name ="proximity_controller" output="screen" required="true"/>
    <node pkg="gobot_control" type="battery_controller" name ="battery_controller" output="screen" required="true"/>
</launch>
