<?xml version="1.0"?>
<root xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="wheel_gazebo" params="fb lr">
        <gazebo reference="${fb}_${lr}_wheel">
            <mu1 value="1.0"/>
            <mu2 value="1.0"/>
            <kp  value="10000000.0" />
            <kd  value="1.0" />
            <fdir1 value="1 0 0"/>
            <material>Gazebo/Grey</material>
        </gazebo>

        <!-- Transmission is important to link the joints and the controller -->
        <transmission name="${fb}_${lr}_wheel_joint_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${fb}_${lr}_wheel_joint">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="${fb}_${lr}_wheel_joint_motor">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>
</root>