<?xml version="1.0"?>
<launch>     
    <include file="$(find gobot_base)/launch/robot_sensors_params.launch"/>

    <!--robot_base -->
    <!--laser to base tf frequency depends on the laser update rate-->
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.22 0.0 0.21 0 0 0 /base_link /base_laser 100" required="true"/>
    
    <!--
    <node pkg="urg_node" type="urg_node" name="hokuyo" output="screen" respawn="true">
        <param name="frame_id" value="base_laser" />
        <param name="angle_min" value="-2.0" />
        <param name="angle_max" value="2.0" />
        <param name="latency" value="-0.1" /> 
    </node>
    -->
    
    <node pkg="gobot_base" type="sensor_node" name="base_sensors" output="screen" required="true"/>
    <node pkg="gobot_base" type="motor_node" name="base_motors" output="screen" required="true"/>
    <node pkg="rplidar_ros" type="rplidarNode" name="rplidarNode" output="screen" respawn="true"/>
    <node pkg="gobot_base" type="twist" name="base_twist" output="screen" respawn="true"/>
    <node pkg="joy" type="joy_node" name="joy_node" output="screen" respawn="true"/>
</launch>
