<?xml version="1.0"?>
<launch>     
    <!--laser to base tf frequency depends on the laser update rate-->
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser2" args="0.355 0 0.13275 0 0 0 /base_link /base_laser2 50" required="true"/>
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.335 0.1 0.13275 3.14 0 0 /base_link /base_laser 50" required="true"/>
    
    <node pkg="urg_node" type="urg_node" name="hokuyo" output="screen" required="true">
        <param name="frame_id" value="base_laser2" />
        <param name="angle_min" value="-2.094395102" />
        <param name="angle_max" value="2.094395102" />
        <param name="latency" value="-0.19" /> 
    </node>

    <include file="$(find rplidar_ros)/launch/rplidar.launch" />

</launch>
