<?xml version="1.0"?>
<launch>
    <node pkg="gobot_sensors2pc" type="bumpers2pc" name="bumpers2pc" output="screen" required="true">
        <rosparam file="$(find gobot_sensors2pc)/params/bumpers2pc.yaml" command="load" />
    </node>

    <node pkg="gobot_sensors2pc" type="sonars2pc" name="sonars2pc" output="screen" required="true">
    </node>
</launch>
