<?xml version="1.0"?>

<root xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="camera_sensor_gazebo" params="name">
        <gazebo reference="${name}_wall_link">
            <material>Gazebo/Grey</material>
        </gazebo>
        <gazebo reference="${name}_link">
            <material>Gazebo/White</material>
            <sensor name='camera' type='camera'>
                <camera name='__default__'>
                    <horizontal_fov>0.1</horizontal_fov>
                    <image>
                        <width>1</width>
                        <height>1</height>
                    </image>
                    <clip>
                        <near>0.00001</near>
                        <far>100</far>
                    </clip>
                </camera>
                <plugin name="ir_controller" filename="libgazebo_ros_camera.so">
                    <cameraName>${name}_camera</cameraName>
                    <alwaysOn>true</alwaysOn>
                    <updateRate>10</updateRate>
                    <imageTopicName>rgb/image_raw</imageTopicName>
                    <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>
                    <frameName>${name}_link</frameName>
                    <hackBaseline>0.07</hackBaseline>
                    <distortionK1>0.0</distortionK1>
                    <distortionK2>0.0</distortionK2>
                    <distortionK3>0.0</distortionK3>
                    <distortionT1>0.0</distortionT1>
                    <distortionT2>0.0</distortionT2>
                </plugin>
            </sensor>
        </gazebo>
    </xacro:macro>
</root>