<?xml version="1.0"?>
<launch>
    <param name="map_path" type="string" value="$(find gobot_data)/maps/used_map" />
    <param name="map_id_file" type="string" value="$(find gobot_data)/maps/mapId.txt" />
    
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" required="true">
        <rosparam file="$(find gobot_navigation)/params/gmapping_params.yaml" command="load" />
    </node>
    
    <node pkg="gobot_recovery" type="scan_startup" name="scan_startup" output="screen" />
</launch>
