<?xml version="1.0"?>
<launch>
	<include file="$(find gobot_base)/launch/mapbase.launch"/>
    <include file="$(find gobot_navigation)/launch/amcl.launch"/>
    <include file="$(find gobot_navigation)/launch/move_base.launch"/>
    <include file="$(find gobot_software)/launch/gobot_function.launch"/>
    <include file="$(find gobot_recovery)/launch/gobot_recovery.launch"/>
</launch>
