<?xml version="1.0"?>
<launch>
	<include file="$(find gobot_base)/launch/rpmapbase.launch"/>
    <include file="$(find gobot_software)/launch/gobot_function.launch"/>
    <include file="$(find gobot_sensors2pc)/launch/gobot_sensors2pc.launch"/>
    <include file="$(find gobot_navigation)/launch/gmapping.launch"/>
    <include file="$(find gobot_navigation)/launch/move_base_scan.launch"/>
    <include file="$(find gobot_navigation)/launch/hector_explore.launch"/>
</launch>
