<?xml version="1.0"?>
<launch>
    <include file="$(find gobot_sensors2pc)/launch/gobot_bumpers2pc.launch"/>

    <!--laser to base tf frequency depends on the laser update rate-->
    <node pkg="tf" type="static_transform_publisher" name="rear_sonar_to_base_link" args="-0.267 -0.065 0.165 3.14159 0 0 /base_link /rear_sonar 50 " />
    <node pkg="tf" type="static_transform_publisher" name="front_right_sonar_to_base_link" args="0.413 -0.168 0.165 0 0 0 /base_link /front_right_sonar 50 "/>
    <node pkg="tf" type="static_transform_publisher" name="front_left_sonar_to_base_link" args="0.413 0.168 0.165 0 0 0 /base_link /front_left_sonar 50 "/>
    <node pkg="tf" type="static_transform_publisher" name="left_sonar_to_base_link" args="-0.01 0.298 0.165 1.5708 0 0 /base_link /left_sonar 50 "/>
    <node pkg="tf" type="static_transform_publisher" name="right_sonar_to_base_link" args="-0.01 -0.298 0.165 -1.5708 0 0 /base_link /right_sonar 50 "/>
    <node pkg="tf" type="static_transform_publisher" name="top_sonar_to_base_link" args="0.413 0 0.88 0 0 0 /base_link /top_sonar 50" />
    <node pkg="tf" type="static_transform_publisher" name="mid_sonar_to_base_link" args="0.413 0 0.48 0 0 0 /base_link /mid_sonar 50" />

    <node pkg="robot_pose_publisher" type="robot_pose_publisher" name="robot_pose_publisher" required="true"/>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" required="true" launch-prefix="xterm -e">
        <rosparam file="$(find gobot_navigation)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find gobot_navigation)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find gobot_navigation)/params/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find gobot_navigation)/params/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find gobot_navigation)/params/move_base_params.yaml" command="load" />

        <!-- to use with the dwa local planner -->
        <rosparam file="$(find gobot_navigation)/params/dwa_local_planner_params.yaml" command="load" />

        <!-- to use with the teb local planner -->
        <rosparam file="$(find gobot_navigation)/params/teb_local_planner_params.yaml" command="load" />
        <rosparam file="$(find gobot_navigation)/params/costmap_converter_params.yaml" command="load" />
    </node>
</launch>
