<?xml version="1.0"?>
<launch>
    <!--gmapping -->
    <param name="map_path" type="string" value="$(find gobot_data)/maps/used_map" />
    <param name="map_id_file" type="string" value="$(find gobot_data)/maps/mapId.txt" />
    
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" required="true">
        <rosparam file="$(find gobot_navigation)/params/gmapping_params.yaml" command="load" />
    </node>
    
    <node pkg="gobot_recovery" type="scan_startup" name="scan_startup" output="screen" />
    
    <node pkg="robot_pose_publisher" type="robot_pose_publisher" name ="robot_pose_publisher" required="true"/>

    <!--move_base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" required="true">
        <rosparam file="$(find gobot_navigation)/params/costmap_params_common.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find gobot_navigation)/params/costmap_params_common.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find gobot_navigation)/params/local_costmap_params_scan.yaml" command="load" />
        <rosparam file="$(find gobot_navigation)/params/global_costmap_params_scan.yaml" command="load" />
        <rosparam file="$(find gobot_navigation)/params/move_base_params_scan.yaml" command="load" />
        <rosparam file="$(find gobot_navigation)/params/move_base_params_common.yaml" command="load" />

        <!-- to use with the teb local planner -->
        <rosparam file="$(find gobot_navigation)/params/teb_local_planner_params_common.yaml" command="load" ns="TebLocalPlannerROS"/>
        <rosparam file="$(find gobot_navigation)/params/teb_local_planner_params_scan.yaml" command="load" />
        <rosparam file="$(find gobot_navigation)/params/costmap_converter_params.yaml" command="load" />
    </node>

    <!--hector_explore -->
    <node pkg="hector_exploration_node" type="exploration_planner_node" name="hector_exploration_node">
        <rosparam file="$(find gobot_navigation)/params/costmap_params_common.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find gobot_navigation)/params/global_costmap_params_scan.yaml" command="load" />
    </node>

    <node pkg="hector_exploration_node" type="move_base_controller" name="exploration_controller" required="true">
        <param name="new_goal_sec" type="int" value="30"/>
        <param name="no_frontier_threshold" type="int" value="5"/>
    </node>

</launch>
