<?xml version="1.0"?>
<launch>     

    <param name="home_pose" type="string" value="$(find gobot_software)/Robot_Infos/home.txt"/>
    <param name="last_pose" type="string" value="$(find gobot_software)/Robot_Infos/lastKnownPosition.txt"/>
    <param name="restart_robot_file" type="string" value="$(find robot_infos)/Robot_Infos/restart_robot.sh"/>

    <node pkg="gobot_recovery" type="allow_teb_back" name="recovery_allow_teb_back" output="screen" respawn="true"/>

</launch>