<?xml version="1.0"?>
<launch>     
    <param name="pose_file" type="string" value="$(find gobot_recovery)/Robot_Infos/pose.txt" />
    <param name="home_file" type="string" value="$(find gobot_recovery)/Robot_Infos/home.txt" />
    
    <node pkg="gobot_recovery" type="allow_teb_back" name="allow_teb_back" output="screen" respawn="true"/>

    <node pkg="gobot_recovery" type="initialpose_estimation" name="initialpose_estimation" output="screen" respawn="true"/>


</launch>