<?xml version="1.0"?>
<launch>     
    <include file="$(find gobot_base)/launch/robot_sensors_params.launch"/>
    
    <node pkg="gobot_recovery" type="allow_teb_back"    name="recovery_allow_teb_back"  output="screen" respawn="true"/>
    <node pkg="gobot_recovery" type="pose_estimation"   name="recovery_pose_estimation" output="screen" respawn="true"/>
    <node pkg="gobot_recovery" type="startup"           name="recovery_startup"         output="screen" required="true"/>
</launch>