#udevadm info -a -p $(udevadm info -q path -n /dev/ttyUSB0) | grep KERNELS | grep "-" | grep ":" | cut -d '"' -f2  for ATTRS variables
#sudo udevadm control --reload-rules && sudo service udev restart && sudo udevadm trigger
#udevadm test $(udevadm info -q path -n /dev/ttyUSB0)
#udevadm monitor --udev --environment  for ENV variables

SUBSYSTEM=="tty", ACTION=="add", KERNEL=="ttyUSB*", ENV{ID_MODEL_ID}=="ea70", ENV{ID_USB_INTERFACE_NUM}=="00", MODE="0777", SYMLINK+="STM" 

SUBSYSTEM=="tty", ACTION=="add", KERNEL=="ttyUSB*", ENV{ID_MODEL_ID}=="ea70", ENV{ID_USB_INTERFACE_NUM}=="01", MODE="0777", SYMLINK+="MD" 

SUBSYSTEM=="tty", ACTION=="add", KERNEL=="ttyACM*", ATTRS{idVendor}=="15d1", ATTRS{idProduct}=="0000", MODE="0777"

KERNEL=="ttyUSB*", ACTION=="add", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", MODE="0777", SYMLINK+="2Dlidar" 

KERNEL=="ttyUSB*", ACTION=="add", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", MODE="0777", SYMLINK+="GYRO" 

KERNEL=="video0", ACTION=="add", MODE="0777"
