<?xml version="1.0"?>
<launch>
    <include file="$(find gobot_software)/launch/robot_infos_params.launch"/>
    <node pkg="gobot_software" type="gobot_status" name="software_gobot_status" output="screen" required="true" />
    <include file="$(find gobot_navigation)/launch/move_base_scan.launch"/>
    <include file="$(find gobot_sensors2pc)/launch/gobot_sensors2pc.launch"/>
    <include file="$(find gobot_gazebo)/launch/gazebo_function.launch"/>
</launch>
